<h2>Добавить офис/склад</h2>
{message}
<form action="{action}" method='post'>
	<table border='0'>
		<tr>
			<td style='width:250px;'>
				Название:
			</td>
			<td>
				<input type='text' name='name' value=''/>
			</td>
		</tr>
		<tr>
			<td style='width:250px;'>
				Подразделение:
			</td>
			<td>
				<select name='branch'/>
					{branches}
				</select>
			</td>
		</tr>
		<tr>
			<td>Адрес</td>
			<td><input type='text' name='address' value='' /></td>
		</tr>
		<tr>
			<td>Телефон</td>
			<td><input type='text' name='phone' value='' /></td>
		</tr>
	</table><br/>
	<input type='submit' value='Добавить'/>
</form>
