<br/><span style='font-size:8pt;'></span><a href="/manager.php?action=list_points" style="font-size:8pt;color:black;text-decoration:underline;">Все офисы/склады</a><br/>
<h2>Офис/склад</h2>
{editpoint}
<table cellspacing=5 cellpadding=0 border=0 style='margin-top:10px;'>
	<tr>
		<td style='width:220px;'>Название</td>
		<td>{name}</td>
	</tr>
	<tr>
		<td>Город</td>
		<td>{branch}</td>
	</tr>
	<tr>
		<td>Адрес</td>
		<td>{address}</td>
	</tr>
	<tr>
		<td>Телефон</td>
		<td>{phone}</td>
	</tr>
	<tr>
		<td valign='top'>Сотрудники</td>
		<td>{contacts}</td>
	</tr>
</table>
