<br/>
{list_arendas_link}
<br/>
<div style="padding-top:5px;">
	<h2 style="padding-top:0;margin-top:10px;margin-bottom:5px;">Редактировать аренду</h2>
	{show_arenda_link}
	{message}
	<form action="{action_link}" method='post' id='edit_form' style='margin-top:0px;'>
		<table border='0'>
			<tr>
				<td style='width:250px;'>
					Название:
				</td>
				<td>
					<input type='text' name='name' value='{name}' />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Кластер:
				</td>
				<td>
					<select name='cluster'>
						{clusters}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Категория:
				</td>
				<td>
					<select name='category'>
						{categories}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Объект:
				</td>
				<td>
					<select name='object'>
						{objects}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Приоритет:
				</td>
				<td>
					<input type='text' name='priority' value='{priority}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Дата контакта:
				</td>
				<td>
					<input type='text' name='contact_date' value='{contact_date}'  id="datepicker1" />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Статус:
				</td>
				<td>
					<input type='text' name='status' value='{status}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Комментарий:
				</td>
				<td>
					<input type='text' name='comment' value='{comment}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Следующий шаг:
				</td>
				<td>
					<input type='text' name='next_step' value='{next_step}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Дата:
				</td>
				<td>
					<input type='text' name='date' value='{date}' id="datepicker2" />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Контакты:
				</td>
				<td>
					<input type='text' name='contacts' value='{contacts}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Ответственный ADG:
				</td>
				<td>
					<input type='text' name='responsible_adg' value='{responsible_adg}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Ответственный C&W:
				</td>
				<td>
					<input type='text' name='responsible_cw' value='{responsible_cw}'/>
				</td>
			</tr>
		</table><br/>
		<input type='submit' value='Сохранить'/>
	</form>
</div>
<div class="clear"></div>
<!--Start: Pikaday calendar-->
<script>
	var picker = new Pikaday(
	{
		field: document.getElementById('datepicker1'), 
		format: 'DD.MM.YYYY',
	});
	var picker = new Pikaday(
	{
		field: document.getElementById('datepicker2'), 
		format: 'DD.MM.YYYY',
	});
</script>	
<!--End: Pikaday calendar-->
