<br/>
{list_arendas_link}
<br/>
<div style="padding-top:5px;">
	<h2 style="padding-top:0;margin-top:10px;margin-bottom:5px;">Редактировать аренду</h2>
	{show_arenda_link}
	{message}
	<form action="{action_link}" method='post' id='edit_form' style='margin-top:0px;'>
		<table border='0'>
			<tr>
				<td style='width:250px;'>
					Название:
				</td>
				<td>
					<input type='text' name='name' value='{name}' />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Кластер:
				</td>
				<td>
					<select name='cluster'>
						{clusters}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Категория:
				</td>
				<td>
					<select name='category'>
						{categories}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Объект:
				</td>
				<td>
					<select name='object'>
						{objects}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;' valign='top'>
					Описание:
				</td>
				<td>
					<textarea name='description'>{description}</textarea>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Приоритет:
				</td>
				<td>
					<select name='priority'>
						{priorities}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Дата контакта:
				</td>
				<td>
					<input type='text' name='contact_date' value='{contact_date}'  id="datepicker1"  class='date' />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Статус:
				</td>
				<td>
					<select name='status'> 
						{statuses}	
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Next Step:
				</td>
				<td>
					<select name='next_step'>
						{next_steps}
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;' valign='top'>
					Комментарий:
				</td>
				<td>
					<textarea name='comment'>{comment}</textarea>
				</td>
			</tr>
			<tr>
				<td style='width:250px;' valign='top'>
					Следующий шаг (OLD):
				</td>
				<td>
					<textarea name='next_step_old'>{next_step_old}</textarea>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Дата:
				</td>
				<td>
					<input type='text' name='date' value='{date}' id="datepicker2"  class='date' />
				</td>
			</tr>
			<tr>
				<td style='width:250px;' valign='top'>
					Контакты:
				</td>
				<td>
					<textarea name='contacts'>{contacts}</textarea>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Ответственный ADG:
				</td>
				<td>
					<input type='text' name='responsible_adg' value='{responsible_adg}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Ответственный C&W:
				</td>
				<td>
					<input type='text' name='responsible_cw' value='{responsible_cw}'/>
				</td>
			</tr>
		</table><br/>
		<input type='submit' value='Сохранить'/>
	</form>
</div>
<div class="clear"></div>
<!--Start: Pikaday calendar-->
<script>
	var picker = new Pikaday(
	{
		field: document.getElementById('datepicker1'), 
		format: 'DD.MM.YYYY',
	});
	var picker = new Pikaday(
	{
		field: document.getElementById('datepicker2'), 
		format: 'DD.MM.YYYY',
	});
</script>	
<!--End: Pikaday calendar-->
