<br/>
{list_arendas_link}
<div style="padding-top:5px;">
	<h2>Точка аренды</h2>
	{edit_arenda_link}
	<table cellspacing=5 cellpadding=0 border=0 style='margin-top:10px;'>
		<tr>
			<td style='width:220px;'>ФИО</td>
			<td>{name}</td>
		</tr>
		<tr>
			<td>Кластер</td>
			<td>{cluster_name}</td>
		</tr>
		<tr>
			<td>Категория</td>
			<td>{category_name}</td>
		</tr>
		<tr>
			<td>Объект</td>
			<td>{object_name}</td>
		</tr>
		<tr>
			<td>Приоритет</td>
			<td>{priority}</td>
		</tr>
		<tr>
			<td>Дата контакта</td>
			<td>{contact_date}</td>
		</tr>
		<tr>
			<td>Статус</td>
			<td>{status}</td>
		</tr>
		<tr>
			<td>Комментарий</td>
			<td>{comment}</td>
		</tr>
		<tr>
			<td>Следующий шаг</td>
			<td>{next_step}</td>
		</tr>
		<tr>
			<td>Дата</td>
			<td>{date}</td>
		</tr>
		<tr>
			<td>Контакты</td>
			<td>{contacts}</td>
		</tr>
		<tr>
			<td>Ответственный в АДГ</td>
			<td>{responsible_adg}</td>
		</tr>
		<tr>
			<td>Ответственный в C&W</td>
			<td>{responsible_cw}</td>
		</tr>
	</table>
</div>
<div class="clear"></div>


