table.listcontacts a.header{
	color:#000;
	font-size:9pt;
}
table.listcontacts a.header img{padding-left:5px;}
.clear{clear:both;}
.navbar a:visited{
	color:#fff;
}
.manager a{}

dl.postprofile dd{
	padding-bottom:3px;
	font-size:8pt;
}

.mainheader{
	padding-left:250px;
}
.maintitle{
}

a.nav{color:#FFF;}

#edit_form a:link, #edit_form a:active, #edit_form a:visited, #edit_form a:hover{
	color:#000;
	text-decoration:none;
}
.filter_entity_name{
	float:left;
	margin-right:10px;
	padding-top:8px;	
}


.filter_entity{
	float:left;
	margin-right:20px;
}

div.sub_menu{
	float:left;
	margin-right:15px;
	background:#b6d7a8;
	padding:3px 14px;
	border-radius:5px;
}

a.sub_menu_link{
	color:#000;
	text-decoration:underline;
}
a.sub_menu_link:hover{
	text-decoration:none;
}