#edit_form a:link, #edit_form a:active, #edit_form a:visited, #edit_form a:hover{
	color:#000;
	text-decoration:none;
}
/*a_i - additional info block headers. used in 'attendancy info block', 'attendancy extra info block', etc*/
h3.a_i_b, h4.a_i_b{
	margin:0;
	padding:0;
	border:none;
	font-size:1.7em;
	font-weight:normal;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#222;
	text-transform:none;
}
h4.a_i_b{
	font-size:1.3em;
	color:#333;
	font-weight:bold
}

/*b_i_d - bold inside div, т.к. все теги b внутри заданного div будут оформлены*/
div.b_i_d b{
	color:#983416;
}

/*e_a - easy annotation, tipically used under headers*/
span.e_a{
	font-size:8pt;
	font-style:italic;
}

/*e_s_t - edit short text*/
#manager input.e_s_t{
	width:30px;
	text-align:center;
}

/*s_b - standart button*/
button.s_b{
	margin:0 15px;
	font-size:9pt;
}

/*o_s - other string*/
div.o_s{
	padding:2px 0;
}

/*sm_s, sm_e - small message success, error*/
span.sm_s, span.sm_e{
	font-size:8pt;
	font-weight:bold;
}
span.sm_s{
	color:green;
}

span.sm_e{
	color:red;
}

.remark{
	font-size:8pt;
}

.attention{
	color:red;
}

a.page, a.page:visited, a.page:link{
	color:black;
	font-size:8pt;
	text-decoration:underline;
}

a.page:hover{
	text-decoration:none;
}

div.users_switcher{
	margin:25px 0 0 80px;
	font-size:8pt;'
}

div.users_switcher a{
	color:black;
	text-decoration:underline;
}

div.user_photo{
	float:left;
	margin:10px 30px 15px 0px;
}

div.user_card{
	float:left;
	padding-top:5px;	
}

div.user_card table{
	margin-top:10px;
}

