<style>
	td{padding:3px 0px;}
	a.navigation, a.navigation:visited, a.navigation:hover, a.navigation:active{font-size:8pt;color:#000;text-decoration:underline;}
	.listcontacts td, .listcontacts th{padding:2px 7px;border-left:1px solid #888;border-top:1px solid #333;font-size:9pt;text-align:left;}
	.listcontacts .left{border-left:1px solid #333;}
	.listcontacts .right{border-right:1px solid #333;}
	.listcontacts tr td{}
	.listcontacts tr.bottom td{border-bottom:1px solid #333;}
	.listcontacts a, a.listcontacts{font-size:8pt;}
</style>
{html}