{all_entities_link}
<div class="switch">
	<a href='{previous}' class='switch_entity_link'><img src='/images/left.png' /></a>
		&nbsp;&nbsp;&nbsp;&nbsp;{current}&nbsp;&nbsp;&nbsp;&nbsp;
	<a href='{next}' class='switch_entity_link'><img src='/images/right.png' /></a>
</div>
<div class="entity_card_photo">
	{photo}
	<form enctype="multipart/form-data" action='{action}' method='post' style='padding:10px 0 0 0;'>	
		<br/>
		<input type='file' name='file' style='width:350px;' onChange="if(this.value!=''){document.getElementById('submit').style.display='block';}else{document.getElementById('submit').style.display='none';}"/><br/><br/>
		{photomessage}
		<input id='submit' type='submit' value='Загрузить' style='display:none;width:100px;'/>
	</form>
</div>
<div class="entity_card_body">
	<h2 style="padding-top:0;margin-top:10px;">{page_header}</h2>
	{show_entity_link}
	{message}
	<form action="{action_link}" method='post' id='edit_form'>
		<table border='0'>
			<tr>
				<td style='width:250px;'>
					Имя:
				</td>
				<td>
					<input type='text' name='name' value='{name}' readonly />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Должность:
				</td>
				<td>
					<input type='text' name='position' value='{position}'/>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Дирекция
				</td>
				<td>
					<select name='direction_id' style='margin:2px 0;'>
						{directions}
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Руководитель сотрудника:
				</td>
				<td>
					<select name='boss_id' style='margin:2px 0;'>
						{bosses}
					</select>
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					Сам является руководителем:
				</td>
				<td>
					<input type='checkbox' name='boss' style='width:20px;' {boss} />
				</td>
			</tr>
			<tr>
				<td style='width:250px;'>
					E-mail:
				</td>
				<td>
					<input type='text' name='email' value='{email}'/>
				</td>
			</tr>
			<tr>
				<td style='width:100px;'>
					Добавочный номер:
				</td>
				<td>
					<input type='text' name='phone_ext' value='{phone_ext}'/>
				</td>
			</tr>
			<tr>
				<td style='width:100px;'>
					Мобильный:
				</td>
				<td>
					<input type='text' name='phone_mobile' value='{phone_mobile}'/>
				</td>
			</tr>
			<tr>
				<td>
					<br/>
					Пароль:
				</td>
				<td>
					<br/>
					<input type='text' name='password' value='' style='border:#5ACE5A double;'/> <span style='font-size:8pt'>*Если поле не заполнено, то пароль изменен не будет</span>
				</td>
			</tr>
		</table><br/>
		<input type='submit' value='Сохранить'/>
	</form>
</div>
<div class="clear"></div>