<h2>{page_header}</h2>
<br/>{add_entity_link}
<form method='get' action='manager.php' id="chooseForm" onchange="document.getElementById('chooseForm').submit();">
	Дирекция: <br/><select name="parent_entity_id" class='parent_entities'>
		{parent_entities}
	</select>
	<input type='hidden' name='action' value='{list_entities_link}' />
</form><br/>
{checkbox_hidden_entities}
<b>Количество:</b> {entities_number}<br/><br/>
<table class='list_entities' cellpadding=0 cellspacing=0 border=0>
	{table}
</table>
<br/>