<br/>
<h4 class='u_r_v'>Расчет начисленных в этом году дней отпуска и больничных</h4>
Месяц и год приема на работу: {user_hire_date}<br/>
Кол-во полных месяцев/дней прошло с момента устройства на работу или с начала года: {months_work}мес {days_work}д<br/>
Кол-во начисленных дней/часов отпуска: {vacation_credit_days}д {vacation_credit_hours}ч<br/>
Кол-во начисленных дней/часов больничного: {sickleave_credit_days}д {sickleave_credit_hours}ч<br/><br/>
<span class='remark'>*Если сотрудник устроился на работу в этом году, то расчет начисленных дней отпуска/больничного идет с даты его устройства на работу. В противном случае отсчет идет с начала текущего года.</span><br/>
<span class='remark'>**Если месяц и год приема на работу не определены, то количество дней начисленного отпуска и больничного будут равняться нулю</span><br/>
