<br/>
{list_users_link}
<div class='users_switcher'>
	<a href='{previous}'><img src='/images/left.png' /></a>
		&nbsp;&nbsp;&nbsp;&nbsp;{current}&nbsp;&nbsp;&nbsp;&nbsp;
	<a href='{next}'><img src='/images/right.png' /></a>
</div>

<div class='user_photo'>
	{photo}
</div>

<div class='user_card'>
	<h2>Карточка сотрудника</h2>
	{edit_user_link}
	<table cellspacing=5 cellpadding=0 border=0>
		<tr>
			<td style='width:220px;'>ФИО</td>
			<td>{username}</td>
		</tr>
		<tr>
			<td>Должность</td>
			<td>{user_occ}</td>
		</tr>
		{mychief}
		{employees}
		<tr>
			<td>Офис/склад</td>
			<td>{point}</td>
		</tr>
		<tr>
			<td>E-mail</td>
			<td>{user_email}</td>
		</tr>
		<tr>
			<td>Скайп</td>
			<td>{user_skype}</td>
		</tr>
		<tr>
			<td>Телефон офиса</td>
			<td>{officephone}</td>
		</tr>
		<tr>
			<td>Добавочный номер</td>
			<td>{extphone}</td>
		</tr>
		{mobilephones}
		<tr>
			<td valign='top'>Статус</td>
			<td>{status}</td>
		</tr>
	</table>
	{attendance_info}
	{extra_attendance_info}
</div>
<div class="clear"></div>


